/*
	Author: Armando Gautreaux
	Template: Word-Guess-Game
	Version: 0.1
	GITHUB: https://github.com/armandogautreaux
*/

/* TABLE OF CONTENTS
  1.  General Styles
  2.  Main Content
*/

/*
========================================
1. General Styles
========================================
*/

@import url('https://fonts.googleapis.com/css?family=PT+Serif');

body {
  margin-top: 40px;
  margin-bottom: 80px;
  background: url(../images/memphis-colorful.png);
}

.logo {
  font-family: 'PT Serif', serif;
}

p {
  color: lavender;
}

span {
  color: lightpink;
}
.guessed {
  color: lightpink;
}

.subtitle {
  color: lightblue;
}

/*
========================================
2. Main content
========================================
*/

.border-main {
  border: 40px solid green;
}

.title-border {
  border-bottom: 2px solid teal;
}
